<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1XD3HHCB7C"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1XD3HHCB7C");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Huy Quang Vũ" />
    <meta
      name="description"
      content="Hello! Welcome to my small corner of authenticity and happiness. I
            hope you discover something valuable within my stories. Cheers!"
    />
    <meta property="og:image" content="media/avatar.png" />
    <meta
      property="og:description"
      content="I use this space to record the lessons I've acquired from my
            professional endeavors and personal experiences."
    />
    <meta property="og:title" content="Huy Quang Vũ" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@v_qhuy" />
    <meta name="twitter:title" content="Huy Quang Vũ" />
    <meta
      name="twitter:description"
      content="Hello! Welcome to my small corner of authenticity and happiness. I
            hope you discover something valuable within my stories. Cheers!"
    />
    <meta name="twitter:image" content="media/avatar.png" />
    <link rel="icon" href="media/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inconsolata:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bricolage+Grotesque:300italic,400italic,300,400,600,700,800"
      rel="stylesheet"
    />
    <link href="output.css" rel="stylesheet" type="text/css" />
    <title>Huy Quang Vũ</title>
  </head>
  <body>
    <main class="blog-layout">
      <section id="feeds" class="feeds">
        <article class="card" v-for="(post, index) in posts" :key="index">
          <h1><a :href="post.id" class="link">{{ post.title }}</a></h1>
          <time>{{ post.created_at }}</time>
          <p>{{ post.intro }}</p>
          <div class="tag-layout">
            <div v-if="post.pinned" class="tag-pinned">
              <img src="media/pin.svg" class="icon" />
              <p class="ml-1 text-xs">Pinned</p>
            </div>
            <div class="tag">
              <img src="media/tag.svg" class="icon" />
              <p class="ml-1 text-xs">{{ post.category }}</p>
            </div>
          </div>
        </article>
      </section>
      <aside class="profile-layout">
        <div class="profile profile-fixed">
          <a href="/"><img src="media/avatar.png" class="avatar" /></a>
          <h1 class="full-name">Huy Quang Vũ</h1>
          <p class="bio blog-bio">
            Hello! Welcome to my small corner of authenticity and happiness. I
            hope you discover something valuable within my stories. Cheers!
            <span class="not-italic">&#127866;</span>
          </p>
          <div class="contacts">
            <div class="social-media">
              <a href="https://twitter.com/v_qhuy" class="account"
                ><img src="media/twitter.svg" alt="Twitter" class="icon" />
              </a>
              <a href="https://www.instagram.com/v.q_huy/" class="account"
                ><img src="media/instagram.svg" alt="Instagram" class="icon" />
              </a>
              <a href="https://soundcloud.com/v-qhuy" class="account"
                ><img
                  src="media/soundcloud.svg"
                  alt="Soundcloud"
                  class="icon"
                />
              </a>
              <a href="https://www.linkedin.com/in/v-qhuy/" class="account"
                ><img src="media/linkedin.svg" alt="Linkedin" class="icon" />
              </a>
              <a href="mailto:hqvu.work@gmail.com" class="account"
                ><img src="media/gmail.svg" alt="Gmail" class="icon" />
              </a>
            </div>
          </div>
        </div>
      </aside>
    </main>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script defer src="main.js"></script>
  </body>
</html>
