<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1XD3HHCB7C"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1XD3HHCB7C");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Huy Quang Vũ" />
    <meta
      name="description"
      content="In my professional journey, I consider learning and its scheduling
              to be essential. I firmly believe that growth is impossible
              without continuous learning. I make it a practice to record
              everything I acquire from reading tech news, reports, and blogs as
              a way to solidify my knowledge."
    />
    <meta property="og:image" content="./media/cover.webp" />
    <meta
      property="og:description"
      content="In my professional journey, I consider learning and its scheduling
              to be essential. I firmly believe that growth is impossible
              without continuous learning. I make it a practice to record
              everything I acquire from reading tech news, reports, and blogs as
              a way to solidify my knowledge."
    />
    <meta property="og:title" content="Technology Blog | Huy Quang Vũ" />
    <link rel="icon" href="../../media/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inconsolata:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bricolage+Grotesque:300italic,400italic,300,400,600,700,800"
      rel="stylesheet"
    />
    <link href="../../output.css" rel="stylesheet" type="text/css" />
    <title>Technology Blog | Huy Quang Vũ</title>
  </head>
  <body>
    <header
      class="bg-[url('/technology/media/cover.webp')] header-bg-layout bg-center"
    >
      <nav class="nav-layout">
        <div class="custom-container nav">
          <h1 class="logo">
            <a href="/">Huy Quang Vũ</a>
          </h1>
          <div class="menu">
            <a href="/technology" class="menu-link">Home</a>
            <a href="/technology/blog" id="blog" class="active menu-link"
              >Blog</a
            >
            <div class="social-media">
              <a
                href="https://www.linkedin.com/in/v-qhuy/"
                class="account"
                target="_blank"
                ><img
                  src="../../media/linkedin.svg"
                  alt="My Career in IT Industry"
                  class="icon"
                />
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="bg-gray-50 intro">
        <div class="intro-layout">
          <div class="intro-card">
            <h2 class="intro-card-title">My Dedication to Lifelong Learning</h2>
            <p class="intro-card-description">
              In my professional journey, I consider learning and its scheduling
              to be essential. I firmly believe that growth is impossible
              without continuous learning. I make it a practice to record
              everything I acquire from reading tech news, reports, and blogs as
              a way to solidify my knowledge.
            </p>
          </div>
        </div>
      </section>
      <section id="feeds" class="intro">
        <div v-if="!posts.length" class="intro-layout">
          <div class="intro-card">
            <h2 class="intro-card-title h-96">Coming soon</h2>
          </div>
        </div>
        <div v-for="(post, index) in posts" :key="index" class="intro-layout">
          <a :href="post.id" class="intro-blog-card group">
            <img
              :src="post.id + '/media/cover.webp'"
              class="intro-blog-card-cover"
            />
            <div class="intro-blog-card-info">
              <h2 class="intro-blog-card-title">{{ post.title }}</h2>
              <time class="intro-blog-card-created-date"
                >{{ post.created_at }}</time
              >
              <p class="intro-blog-card-description">{{ post.intro }}</p>
            </div>
          </a>
        </div>
      </section>
    </main>
    <footer class="copyright-layout">
      <p class="custom-container">&copy; Huy Quang Vũ. All rights reserved.</p>
    </footer>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script defer src="/blog.js"></script>
  </body>
</html>
